{
  "openapi": "3.1.0",
  "info": {
    "title": "OAGI API Gateway",
    "description": "API Gateway for Large Language Model requests",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.agiopen.org",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "/v1/chat/completions",
        "description": "OpenAI-compatible endpoint for chat completions with UI actions",
        "operationId": "create_chat_completion_v1_chat_completions_post",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "Your API key. Get one at https://developer.agiopen.org/api-keys",
            "schema": {
              "type": "string",
              "title": "X-Api-Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAICompatRequest"
              },
              "example": {
                "model": "lux-thinker-1",
                "messages": [
                  {
                    "role": "user",
                    "content": [
                      {
                        "type": "text",
                        "text": "You are a Desktop Agent completing computer use tasks from a user instruction.\n\nEvery step, you will look at the screenshot and output the desired actions in a format as:\n\n<|think_start|> brief description of your intent and reasoning <|think_end|>\n<|action_start|> one of the allowed actions as below <|action_end|>\n\nIn the action field, you have the following action formats:\n1. click(x, y) # left-click at the position (x, y), where x and y are integers normalized between 0 and 1000\n2. left_double(x, y) # left-double-click at the position (x, y), where x and y are integers normalized between 0 and 1000\n3. left_triple(x, y) # left-triple-click at the position (x, y), where x and y are integers normalized between 0 and 1000\n4. right_single(x, y) # right-click at the position (x, y), where x and y are integers normalized between 0 and 1000\n5. drag(x1, y1, x2, y2) # drag the mouse from (x1, y1) to (x2, y2) to select or move contents, where x1, y1, x2, y2 are integers normalized between 0 and 1000\n6. hotkey(key, c) # press the key for c times\n7. type(text) # type a text string on the keyboard\n8. scroll(x, y, direction, c) # scroll the mouse at position (x, y) in the direction of up or down for c times, where x and y are integers normalized between 0 and 1000\n9. wait() # wait for a while\n10. finish() # indicate the task is finished\n\nDirectly output the text beginning with <|think_start|>, no additional text is needed for this scenario.\n\nThe user instruction is:\nCompare available plans for the AeroAPI on Flightaware"
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://lux-app-release.s3.us-west-2.amazonaws.com/api-demo.jpg"
                        }
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or model not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Invalid request",
                    "value": {
                      "error": {
                        "code": "invalid_request",
                        "message": "Invalid request parameters"
                      }
                    }
                  },
                  "model_not_found": {
                    "summary": "Model not found",
                    "value": {
                      "error": {
                        "code": "model_not_found",
                        "message": "Model 'invalid-model' is not available. Available models: lux-actor-1, lux-thinker-1"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or expired API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_api_key": {
                    "summary": "Invalid API key",
                    "value": {
                      "error": {
                        "code": "invalid_api_key",
                        "message": "Incorrect API key provided. Visit https://developer.agiopen.org/api-keys to create one."
                      }
                    }
                  },
                  "expired_api_key": {
                    "summary": "Expired API key",
                    "value": {
                      "error": {
                        "code": "expired_api_key",
                        "message": "API key has expired. Visit https://developer.agiopen.org/api-keys to create a new one."
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient Balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "insufficient_balance",
                    "message": "Insufficient balance. Please add credits at https://developer.agiopen.org"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error - Request body validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "validation_error",
                    "message": "Request validation failed"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Rate limit exceeded. Please retry after 60 seconds."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Inference processing failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "inference_failed",
                    "message": "Failed to process inference request"
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Service temporarily unavailable or engine overloaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "service_unavailable": {
                    "summary": "Service unavailable",
                    "value": {
                      "error": {
                        "code": "service_unavailable",
                        "message": "Service temporarily unavailable. Please try again later."
                      }
                    }
                  },
                  "engine_overloaded": {
                    "summary": "Engine overloaded",
                    "value": {
                      "error": {
                        "code": "engine_overloaded",
                        "message": "Inference engine is currently overloaded. Please retry after a few seconds."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/file/upload": {
      "get": {
        "summary": "/v1/file/upload",
        "description": "Get presigned file upload URL, file uuid used for generation API, and file expiration time",
        "operationId": "upload_file_v1_file_upload_get",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "Your API key. Get one at https://developer.agiopen.org/api-keys",
            "schema": {
              "type": "string",
              "title": "X-Api-Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "invalid_api_key",
                    "message": "Incorrect API key provided. Visit https://developer.agiopen.org/api-keys to create one."
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient Balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "insufficient_balance",
                    "message": "Insufficient balance. Please add credits at https://developer.agiopen.org"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Rate limit exceeded. Please retry after 60 seconds."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "unexpected_error",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "service_unavailable",
                    "message": "Service temporarily unavailable. Please try again later."
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Content": {
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ContentType",
            "description": "The type of the content"
          },
          "image_url": {
            "$ref": "#/components/schemas/ImageContent",
            "description": "The metadata for image content"
          },
          "text": {
            "type": "string",
            "title": "Text",
            "description": "The text content"
          }
        },
        "type": "object",
        "required": [
          "type"
        ],
        "title": "Content",
        "example": {
          "image_url": {
            "url": "https://example.com/image.png"
          },
          "type": "image_url"
        }
      },
      "ContentType": {
        "type": "string",
        "enum": [
          "text",
          "image_url"
        ],
        "title": "ContentType"
      },
      "ErrorDetail": {
        "properties": {
          "code": {
            "type": "string",
            "title": "Code",
            "description": "Error code for programmatic handling"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Human-readable error message"
          }
        },
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "title": "ErrorDetail",
        "description": "Detailed error information.",
        "example": {
          "code": "invalid_api_key",
          "message": "Incorrect API key provided. Visit https://developer.agiopen.org/api-keys to create one."
        }
      },
      "ErrorResponse": {
        "properties": {
          "error": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ErrorDetail"
              },
              {
                "type": "null"
              }
            ],
            "description": "Error details, null if request succeeded"
          }
        },
        "type": "object",
        "title": "ErrorResponse",
        "description": "Standard error response format.",
        "example": {
          "error": {
            "code": "invalid_api_key",
            "message": "Incorrect API key provided. Visit https://developer.agiopen.org/api-keys to create one."
          }
        }
      },
      "ExternalLLMRequest": {
        "properties": {
          "external_worker_id": {
            "type": "string",
            "enum": [
              "oagi_first",
              "oagi_follow",
              "oagi_task_summary"
            ],
            "title": "External Worker Id",
            "description": "The desired OAGI worker type"
          },
          "task_description": {
            "type": "string",
            "title": "Task Description",
            "description": "Overall task description"
          },
          "todos": {
            "items": {
              "$ref": "#/components/schemas/TodoItem"
            },
            "type": "array",
            "title": "Todos",
            "description": "List of all todos in the workflow"
          },
          "history": {
            "items": {
              "$ref": "#/components/schemas/HistoryItem"
            },
            "type": "array",
            "title": "History",
            "description": "Execution history of completed todos"
          },
          "current_todo_index": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Current Todo Index",
            "description": "Index of the current todo being executed"
          },
          "task_execution_summary": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Task Execution Summary",
            "description": "Summary of overall task execution"
          },
          "overall_todo": {
            "type": "string",
            "title": "Overall Todo",
            "description": "The current user todo to plan for"
          },
          "current_screenshot": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Current Screenshot",
            "description": "S3 URL or UUID for current screenshot"
          },
          "result_screenshot": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Result Screenshot",
            "description": "Final screenshot S3 URL for oagi_follow"
          },
          "window_screenshots": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Window Screenshots",
            "description": "List of screenshot S3 URLs for oagi_follow"
          },
          "current_subtask_instruction": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Current Subtask Instruction",
            "description": "Current subtask being executed (None for first call, str for follow)"
          },
          "window_steps": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Window Steps",
            "description": "List of action steps for oagi_follow"
          },
          "prior_notes": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Prior Notes",
            "description": "Execution history notes for oagi_follow"
          },
          "latest_todo_summary": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Latest Todo Summary",
            "description": "Latest execution summary for oagi_task_summary"
          }
        },
        "type": "object",
        "required": [
          "external_worker_id",
          "task_description",
          "todos",
          "overall_todo"
        ],
        "title": "ExternalLLMRequest",
        "description": "Request for external LLM generation with structured memory context."
      },
      "ExternalLLMResponse": {
        "properties": {
          "response": {
            "type": "string",
            "title": "Response",
            "description": "Response text from external LLM API"
          },
          "prompt_tokens": {
            "type": "integer",
            "title": "Prompt Tokens",
            "description": "Prompt tokens count"
          },
          "completion_tokens": {
            "type": "integer",
            "title": "Completion Tokens",
            "description": "Completion tokens count"
          },
          "cost": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cost",
            "description": "API cost in US dollar (None if not available)",
            "deprecated": true
          },
          "cached_tokens": {
            "type": "integer",
            "title": "Cached Tokens",
            "description": "Cached prompt tokens count",
            "default": 0
          }
        },
        "type": "object",
        "required": [
          "response",
          "prompt_tokens",
          "completion_tokens"
        ],
        "title": "ExternalLLMResponse"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "HistoryItem": {
        "properties": {
          "todo_index": {
            "type": "integer",
            "title": "Todo Index",
            "description": "Index of the todo that was executed"
          },
          "todo_description": {
            "type": "string",
            "title": "Todo Description",
            "description": "Description of the todo"
          },
          "action_count": {
            "type": "integer",
            "title": "Action Count",
            "description": "Number of actions taken"
          },
          "summary": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Summary",
            "description": "Execution summary"
          },
          "completed": {
            "type": "boolean",
            "title": "Completed",
            "description": "Whether the todo was completed"
          }
        },
        "type": "object",
        "required": [
          "todo_index",
          "todo_description",
          "action_count",
          "completed"
        ],
        "title": "HistoryItem",
        "description": "A record of todo execution history."
      },
      "ImageContent": {
        "properties": {
          "url": {
            "type": "string",
            "title": "Url",
            "description": "URL of the image"
          }
        },
        "type": "object",
        "required": [
          "url"
        ],
        "title": "ImageContent",
        "example": {
          "url": "https://example.com/image.png"
        }
      },
      "Message": {
        "properties": {
          "role": {
            "$ref": "#/components/schemas/Role",
            "description": "Role of the message sender"
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "$ref": "#/components/schemas/Content"
                },
                "type": "array"
              }
            ],
            "title": "Content",
            "description": "Text content of the message or a list of content items"
          }
        },
        "type": "object",
        "required": [
          "role"
        ],
        "title": "Message",
        "example": {
          "content": "What's the weather today?",
          "role": "user"
        }
      },
      "OpenAIChatCompletionResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Unique identifier (chatcmpl-{request_id})"
          },
          "task_id": {
            "type": "string",
            "title": "Task Id",
            "description": "Session ID for multi-turn conversations"
          },
          "object": {
            "type": "string",
            "title": "Object",
            "description": "Object type",
            "default": "chat.completion"
          },
          "created": {
            "type": "integer",
            "title": "Created",
            "description": "Unix timestamp"
          },
          "model": {
            "type": "string",
            "title": "Model",
            "description": "Model used for completion"
          },
          "choices": {
            "items": {
              "$ref": "#/components/schemas/OpenAIChoice"
            },
            "type": "array",
            "title": "Choices",
            "description": "List of completion choices"
          },
          "usage": {
            "$ref": "#/components/schemas/OpenAIUsage",
            "description": "Token usage information"
          }
        },
        "type": "object",
        "required": [
          "id",
          "task_id",
          "model",
          "choices",
          "usage"
        ],
        "title": "OpenAIChatCompletionResponse",
        "description": "OpenAI-compatible chat completion response."
      },
      "OpenAIChoice": {
        "properties": {
          "index": {
            "type": "integer",
            "title": "Index",
            "description": "Index of the choice",
            "default": 0
          },
          "message": {
            "$ref": "#/components/schemas/OpenAIMessage",
            "description": "The generated message"
          },
          "finish_reason": {
            "type": "string",
            "title": "Finish Reason",
            "description": "Reason for finishing",
            "default": "stop"
          }
        },
        "type": "object",
        "required": [
          "message"
        ],
        "title": "OpenAIChoice",
        "description": "OpenAI-compatible choice in response."
      },
      "OpenAICompatRequest": {
        "properties": {
          "model": {
            "type": "string",
            "title": "Model",
            "description": "Model name to use"
          },
          "messages": {
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "type": "array",
            "title": "Messages",
            "description": "Messages in chronological order"
          },
          "task_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Task Id",
            "description": "Optional session ID for multi-turn conversations"
          },
          "temperature": {
            "anyOf": [
              {
                "type": "number",
                "maximum": 2.0,
                "minimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Temperature",
            "description": "Sampling temperature between 0 and 2"
          },
          "top_p": {
            "anyOf": [
              {
                "type": "number",
                "maximum": 1.0,
                "minimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Top P",
            "description": "Nucleus sampling parameter"
          },
          "max_tokens": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Tokens",
            "description": "Maximum number of tokens for the completion"
          },
          "user": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "User",
            "description": "End-user identifier for abuse/fraud detection"
          }
        },
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "title": "OpenAICompatRequest",
        "description": "Pure OpenAI-compatible chat completion request."
      },
      "OpenAIMessage": {
        "properties": {
          "role": {
            "type": "string",
            "title": "Role",
            "description": "Role of the message sender",
            "default": "assistant"
          },
          "content": {
            "type": "string",
            "title": "Content",
            "description": "JSON string with thinking and actions"
          }
        },
        "type": "object",
        "required": [
          "content"
        ],
        "title": "OpenAIMessage",
        "description": "OpenAI-compatible message in response."
      },
      "OpenAIModel": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Model identifier"
          },
          "object": {
            "type": "string",
            "title": "Object",
            "description": "Object type",
            "default": "model"
          },
          "created": {
            "type": "integer",
            "title": "Created",
            "description": "Creation timestamp"
          },
          "owned_by": {
            "type": "string",
            "title": "Owned By",
            "description": "Model owner",
            "default": "oagi"
          }
        },
        "type": "object",
        "required": [
          "id"
        ],
        "title": "OpenAIModel",
        "description": "OpenAI-compatible model information."
      },
      "OpenAIModelListResponse": {
        "properties": {
          "object": {
            "type": "string",
            "title": "Object",
            "description": "Object type",
            "default": "list"
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/OpenAIModel"
            },
            "type": "array",
            "title": "Data",
            "description": "List of available models"
          }
        },
        "type": "object",
        "required": [
          "data"
        ],
        "title": "OpenAIModelListResponse",
        "description": "OpenAI-compatible model list response."
      },
      "OpenAIUsage": {
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "title": "Prompt Tokens",
            "description": "Number of tokens in the prompt"
          },
          "completion_tokens": {
            "type": "integer",
            "title": "Completion Tokens",
            "description": "Number of tokens in the completion"
          },
          "total_tokens": {
            "type": "integer",
            "title": "Total Tokens",
            "description": "Total number of tokens used"
          }
        },
        "type": "object",
        "required": [
          "prompt_tokens",
          "completion_tokens",
          "total_tokens"
        ],
        "title": "OpenAIUsage",
        "description": "OpenAI-compatible usage information."
      },
      "Role": {
        "type": "string",
        "enum": [
          "system",
          "user",
          "assistant",
          "function"
        ],
        "title": "Role"
      },
      "TodoItem": {
        "properties": {
          "index": {
            "type": "integer",
            "title": "Index",
            "description": "Todo index in the list"
          },
          "description": {
            "type": "string",
            "title": "Description",
            "description": "Todo description"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "in_progress",
              "completed",
              "blocked"
            ],
            "title": "Status",
            "description": "Current status of the todo"
          },
          "execution_summary": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Execution Summary",
            "description": "Summary of execution for this todo"
          }
        },
        "type": "object",
        "required": [
          "index",
          "description",
          "status"
        ],
        "title": "TodoItem",
        "description": "A single todo item in the task workflow."
      },
      "UploadFileResponse": {
        "properties": {
          "url": {
            "type": "string",
            "title": "Url",
            "description": "Presigned upload file url"
          },
          "uuid": {
            "type": "string",
            "title": "Uuid",
            "description": "UUID for the uploaded file, this can be used as image_url in worker API"
          },
          "expires_at": {
            "type": "integer",
            "title": "Expires At",
            "description": "Expiration time of the presigned upload url"
          },
          "file_expires_at": {
            "type": "integer",
            "title": "File Expires At",
            "description": "Expiration time of the uploaded file"
          },
          "download_url": {
            "type": "string",
            "title": "Download Url",
            "description": "Presigned download file url"
          }
        },
        "type": "object",
        "required": [
          "url",
          "uuid",
          "expires_at",
          "file_expires_at",
          "download_url"
        ],
        "title": "UploadFileResponse"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    }
  }
}